body {
  background-color: rgb(255, 255, 255);
}

.swiper-slide {
  height: 60vh;
}

.swiper-slide {
  text-align: center;
  font-size: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  color: black;
}

.swiper-button-next {
  margin-right: 500px;
  color: black;
}

.swiper-button-prev {
  margin-left: 500px;
  color: black;
}

/* La propriété 'object-fit' doit être appliquée à des éléments tels que des images, elle ne peut pas être utilisée seule. */
.swiper-ensemble-4 .swiper-slide img {
  width: 40%; /* Ajustez la largeur comme vous le souhaitez */
  height: 400px; /* Ajustez la hauteur comme vous le souhaitez */
  object-fit: cover; /* Pour conserver les proportions tout en couvrant la diapositive */
}

.mon-slider {
  height: 350%; /* Ajustez la hauteur comme vous le souhaitez */
}
